<div class="control-section">
  <button (click)='click($event)'>Instance</button>
    <ejs-grid #grid [dataSource]='data' height='350' [allowResizing]='true'>
        <e-columns>
            <e-column field='OrderID' headerText='Order ID' width='120' textAlign='Right'></e-column>
            <e-column field='CustomerName' headerText='Customer Name' width='150'></e-column>
            <e-column field='OrderDate' headerText='Order Date' width='130' format="yMd" textAlign='Right'></e-column>
            <e-column field='Freight' headerText='Freight' width='120' format='C2' textAlign='Right'></e-column>
            <e-column field='ShippedDate' headerText='Shipped Date' width='130' format="yMd" textAlign='Right'></e-column>
            <e-column field='ShipCountry' headerText='Ship Country' width='150'></e-column>
        </e-columns>
    </ejs-grid>
</div>